@keyframes rebound {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animateRebound {
  animation: rebound 200ms ease-in-out -20ms 1;
}
