@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

body {
  @apply dark:bg-slate-800 dark:text-white;
}

@layer components {
  a {
    color: theme("colors.blue.700");

    &:hover {
      color: theme("colors.blue.600");
      text-decoration: underline dashed;
    }
  }

  button {
    @apply px-4 py-2 border-2 dark:border-slate-200 border-slate-900 rounded-lg;

    &:hover {
      @apply bg-slate-100 dark:bg-slate-700;
    }
  }

  input,
  label:has(input) {
    cursor: pointer;
    background: unset;
  }

  label:has(> input[type="radio"]:checked) {
    font-weight: bolder;
  }

  input[type="radio"],
  input[type="checkbox"] {
    appearance: none;
    width: 1rem;
    aspect-ratio: 1;
    @apply border-2 dark:border-slate-100 border-slate-900;

    &:hover {
      @apply bg-slate-100 dark:bg-slate-700;
    }

    &::before {
      display: block;
      content: "";
      width: 0.5rem;
      aspect-ratio: 1;
      opacity: 0;
      transform-origin: center;
      transform: translate(25%, 25%);

      background-color: currentColor;
      transition: opacity 100ms linear;
    }

    &:checked::before {
      opacity: 1;
    }
  }

  input[type="radio"] {
    @apply rounded-full;

    &::before {
      @apply rounded-full;
    }
  }
}
